<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../coded-files/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="main-nav">
      <div class="top-bar">
        <div class="logo"><img src="../images/Brandon_Jarousky_logo.png"></div>
        <div class="myName">brandon jarousky</div>
        <div class="nav-icon">
          <div class="icon-bar bar1"></div>
          <div class="icon-bar bar2"></div>
          <div class="icon-bar bar3"></div>
        </div>
      </div>
      <ul class="nav-items">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">What I'm doing</a>
        </li>
        <li>
          <a href="#">What I've done</a>
        </li>
        <li>
          <a href="#">Things I've learned</a>
        </li>
        <li>
          <a href="#">Let's work together</a>
        </li>
      </ul>
    </nav>
    <script type="text/javascript" src="../coded-files/main.js"></script>
  </body>
</html>
