/* This is a test */
:root {
  --color1: #05010A;
  --color2: #777D7F;
  --color3: #BBC4C7;
  --color4: #F7F7F7;
  --color5: #96210A;
}

/*
Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/*
Defaults
*/

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color4);
}

/*
Animations
*/


/*
NAVIGATION
*/

nav {
  height: 100vh;
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-around;
  height: 100vh;
  padding: 100px 0 100px 0;
  overflow: hidden;
  background: var(--color3);
}

nav ul li {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  flex: 1;
  text-align: center;
  width: 100vw;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-items li a {
  font-size: 2.5em;
  text-decoration: none;
  margin: auto;
  width: fit-content;
  color: var(--color1);
}

.nav-items li a:hover {
  color: var(--color5);
}

.nav-items {
  margin-left: 100%;
}

.nav-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-bar {
  width: 40px;
  height: 6px;
  background-color: var(--color1);
  margin: 6px 0;
  border-radius: 20px;
  transition: 0.4s;
}

.nav-icon:hover {
  transform: scale(1.1);
  transition: transform 1000ms;
  cursor: pointer;
}

.icon-bar-toggle {
  background-color: var(--color5);
}

.bar1.icon-change {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate (-8px, 7px);
}

.bar2.icon-change {
  opacity: 0;
}

.bar3.icon-change {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
  transform: rotate(45deg) translate(-9px, -9px);
}
